  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {%- include "_partials/favicon.html" -%}

    {# {% seo %} #}

    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald:400,700|Inconsolata:400&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css" />

    {% if global.environment == "production" -%}
    <script async src="https://us.umami.is/script.js" data-website-id="52f5df2e-bc7e-4417-876d-dc13b675e0cf"></script>
    {% endif -%}

    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {%- include "_partials/custom-head-js.html" -%}
  </head>
