<header>
    <nav>
        <!-- TODO: use site tile global var -->
        <a href="/" class="brand">josevh</a>
        <ul>
            <li>
                <a href="/blog">Blog</a>
            </li
            >
            <li>
                <a href="/projects">Projects</a>
            </li
            >
            <li><a href="/experience">Experience</a></li
            >
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
