{# TODO: navbar links should be lang-specific #}
<nav class="navbar navbar-light bg-light navbar-expand-md px-0">
  <a class="navbar-brand" href="{{ '/' | locale_url }}">{{ site[page.lang].title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav">
      {# Automatic nav items from pages #}
      {% for nav_page in collections.page|sort(attribute="data.nav_order") %}
        {% if nav_page.data.nav_include and page.lang == nav_page.data.pageLang %}
          <li class="nav-item {% if nav_page.url in page.url %}active{% endif %}">
            <a
              class="nav-link"
              href="{{ nav_page.url | url }}"
            >{{ nav_page.data.title }}{% if nav_page.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    {# Language switcher #}
    <ul class="nav navbar-nav language-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          <span class="country-name notranslate">{{ page.lang | upper }}</span>
        </a>
        <div class="dropdown-menu">
          {%- set links=page.url|locale_links -%}
          {%- for link in links -%}
            <a class="dropdown-item" href="{{ link.url }}">
              <span class="country-name notranslate">{{ link.lang | upper }} - {{ link.label }}</span>
            </a>
          {%- endfor -%}
          {# Handle pages with no translation, offer Spanish homepage. Hard-coded, yikes. #}
          {%- if links.length == 0 and page.lang == 'en' -%}
            <a href="/es" class="dropdown-item">
              <span class="country-name notranslate">ES - Español</span>
            </a>
          {%- endif -%}
        </div>
      </li>
    </ul>
  </div>
</nav>
