---
layout: "base.njk"
---
<div id="layout-post">
    <div class="row post-heading mb-4">
        <div class="col">
            <h1 class="mb-0">{{ title }}</h1>
            <small class="text-muted">{{ page.date | blog_date }}</small>
        </div>
    </div>

    <div class="row post-content mb-4">
        <div class="col">{{ content | safe }}</div>
    </div>

    {# @source: https://blog.webjeda.com/jekyll-related-posts/ #}
    {% if postTags.length > 0 %}
        <div class="row post-related mb-4">
            <div class="col">
                <hr>
                <h5 class="text-uppercase">Related</h5>
                <div class="row">
                    {%- set maxRelated=3 -%}
                    {%- set minCommonTags=1 -%}
                    {%- set maxRelatedCounter=0 -%}
                    {%- set maxRelatedReached=false -%}

                    {% for post in collections.post | reverse %}
                        {% if not maxRelatedReached %}
                            {% set sameTagCount=0 %}

                            {% for postTag in post.data.postTags %}
                                {% if post.url != page.url %}
                                    {% if postTag in postTags %}
                                        {% set sameTagCount=sameTagCount+1  %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if sameTagCount >= minCommonTags %}
                                <div class="col-12 col-sm-4 mt-2"><a href="{{ post.url }}">{{ post.data.title }}</a></div>
                                {% set maxRelatedCounter=maxRelatedCounter+1 %}

                                {% if maxRelatedCounter >= maxRelated %}
                                    {% set maxRelatedReached=true %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {# hide related if none found #}
        {% if maxRelatedCounter == 0 %}
            <script>document.querySelectorAll('.post-related')
                        .forEach(function(el) {
                            el.style.display = 'none';
                        });</script>
        {% endif %}
    {% endif %}

    {# https://www.11ty.dev/docs/filters/collection-items/#getpreviouscollectionitem-and-getnextcollectionitem #}
    {% set previousPost = collections.post | getPreviousCollectionItem %}
    {% set nextPost = collections.post | getNextCollectionItem %}

    {% if previousPost or nextPost %}
        <hr class="bold dark">
        <div class="row pt-2">
            <div class="col">
                {% if previousPost %}
                    <h5 class="text-uppercase">Previous</h5>
                    <div class="mt-3"><a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></div>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="col text-right">
                {% if nextPost %}
                    <h5 class="text-uppercase">Next</h5>
                    <div class="mt-3"><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></div>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
