@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Roboto:400,400i,700,700i|Cabin:400,400i&display=swap');

$background-color: #f8f8f8;
$background-color-medium: #efefef;
$text-color-regular: #666;
$text-color-link: #444;
$text-color-light: rgba(0,0,0,.5);
$text-color-dark: rgba(0,0,0,1);
$font-headings: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-regular: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-monospace: "Inconsolata", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

@import "default";
@import "post";
