// for svg icon links in contact page
a svg {
    fill: $text-color-link;

    &:hover {
        fill: $text-color-dark;
    }
}

// for nav country flags
.country-flag {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
}

.country-name {
    display: inline-block;
    vertical-align: middle;
}

// for blog index
#blog-index {
    .list-group-item {
        background-color: transparent;

        &:hover {
            background-color: #e0e0e0;
        }
    }
}

#projects-index {
    .list-group-item {
        background: transparent;
    }
}

.carousel.dark {
    a {
        color: inherit !important;
        border-bottom: none !important;
    
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239e9e9e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
           }
           
        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239e9e9e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
    }

    .carousel-indicators li {
        background-color: rgba(70, 70, 70, 0.25);
      }
      
      .carousel-indicators .active {
        background-color: #444;
      }
}
