  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

    <link
      rel="stylesheet"
      href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css" />

    {% if meta.environment == "production" -%}
    <script async src="https://us.umami.is/script.js" data-website-id="52f5df2e-bc7e-4417-876d-dc13b675e0cf"></script>
    {% endif -%}

    {%- include "components/custom-head-js.html" -%}
  </head>
