<!doctype html>
<html lang="{{ lang }}-US" dir="ltr">
  {%- include "components/head.njk" -%}
  <body>
    <div class="container my-4">
      <div class="row justify-content-center mb-4">
        <div class="col-sm-12 col-md-10 col-lg-7">
          {%- include "components/nav.njk" -%}
        </div>
      </div>
      <div class="row justify-content-center content-wrapper">
        <div class="col-sm-12 col-md-10 col-lg-7">
          {{ content | safe }}

          {%- include "components/footer.njk" -%}
        </div>
      </div>
    </div>

    {%- include "components/footer-scripts.njk" -%}
  </body>
</html>
