---
layout: "page"
title: Experiencia
slugOverride: experiencia
tags: page
nav_include: true
nav_order: 3
---
<div class="list-group">
    {% set jobs = site[page.lang].experience %}
    {%- for job in jobs -%}
        {%- if job.include -%}
        <div class="list-group-item job mb-2">
            <div class="heading">
                <h3>{{ job.position }} <small class="text-muted">{{ job.company }}</small></h3>
                <div class="font-headings small">
                    {{ job.start }} - {{ job.end }} | {{ job.location }}
                </div>
            </div>

            <div class="content">
                {%- if job.description.length > 0 or job.languages.length > 0 -%}
                <hr />
                {%- endif -%}

                {%- if job.description.length > 0 -%}
                <ul>
                    {%- for desc in job.description -%}
                    <li>{{ desc }}</li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}

                {%- if job.languages.length > 0 -%}
                    <hr />
                    {%- set comma = joiner() -%}
                    {%- for lang in job.languages -%}
                        <code>{{ comma() }} {{ lang | lower }}</code>
                    {%- endfor -%}
                {%- endif -%}
            </div>
        </div>
        {%- endif -%}
    {%- endfor -%}
</div>

{% if site[page.lang].education.length > 0 %}
<div class="mt-5">
    <h1 class="mb-4">Educación</h1>

    <div class="list-group">
        {%- for edu in site[page.lang].education -%}
        <div class="list-group-item edu mb-2">
            <h3>{{ edu.school }}</h3>

            {% if edu.degrees.length > 0 %}
            <hr />

            <ul>
                {% for degree in edu.degrees %}
                <li>{{ degree.name }} ({{degree.year}})</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {%- endfor -%}
    </div>
</div>
{% endif %}
