// for nav country flags
.country-flag {
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  width: 16px;
}

.country-name {
  display: inline-block;
  vertical-align: middle;
}
