@use "../abstracts/tokens" as t;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: t.$background-color;

  body {
    background-color: inherit;
    color: t.$text-color-regular;
    font-family: t.$font-regular;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    nav {
      color: t.$text-color-dark;
      font-family: t.$font-headings;
    }

    h1 {
      font-weight: 700;
    }

    p {
      line-height: 1.7;
    }

    .content-wrapper li + li {
      margin-top: 0.35rem;
    }

    code,
    kbd,
    pre,
    samp,
    pre > code {
      font-family: t.$font-monospace;
    }

    blockquote {
      background-color: t.$background-color-medium;
      border-left: 4px solid t.$text-color-light;
      margin-left: 8px;
      margin-right: 8px;
      padding-left: 8px;
      padding-right: 8px;
    }

    .content-wrapper a {
      border-bottom: 1px dotted t.$text-color-link;
      color: t.$text-color-link;
      text-decoration: none;
    }

    .content-wrapper a:hover {
      border-bottom-color: t.$text-color-dark;
      border-bottom-style: solid;
      color: t.$text-color-dark;
      text-decoration: none;
    }
  }
}
