@use "../abstracts/tokens" as t;

html body .font-sans-serif {
  font-family: t.$font-headings !important;
}

.font-headings {
  font-family: t.$font-headings !important;
}

.font-regular {
  font-family: t.$font-regular !important;
}

.font-monospace {
  font-family: t.$font-monospace !important;
}

a.no-border,
a.no-border:hover {
  border-bottom: none !important;
}

hr.dark {
  border-top-color: t.$text-color-dark;
}

hr.bold {
  border-top-width: 2px;
}
